<footer>
  <div class="footer_content">
    <p class="first_footer">Powered by <a href ="https://rubyonrails.org/community/#core" class="link_to_rails" target="blank">Ruby on Rails</a> </p>
    <p class="second_footer"><a href ="/" class="link_to_top">©沖縄フォーラム</a> All Rights Reserved</p>
  </div>
</footer>