
.show_post_main {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
}

.show_post_table {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show_post_name {
  margin: 2vh;
  width: 20vw;
  height: 5vh;
  text-align: center;
}

.post-name {
  font-size: 30px;
  color: #FFFF00;
}

.show_post_content {
  font-size: 20px;
  border: solid 1px black;
  border-radius: 10px;
  margin: 2vh;
  width: 50vw;
  height: 50vh;
  background-color: #FFFFFF;
}

.room_link{
 bottom:20px;
 text-align: center;
 
}
.room_link > a{
  border: solid 1px blue;
  color: #000000;
  font-size: 20px;
  background-color:	#99CCFF;
  border-radius: 10px;
  padding: 5px;
}

.room_link > a:hover {
  background-color: #00FFFF;
  color: #FFFFFF;
}