
.header_content {
  position: relative;
}

.header_image {
  width: 100%;
  height: 150px;
}

.title {
  position: absolute;
  width: 100%;
  top: 50px;
  text-align: center;
}

.title_name {
  color: red;
  font-size: 40px;
}

.access_btn {
  position: absolute;
  bottom: 30px;
  right: 0; 
}

.user_info {
  display: flex;
}

.user_nickname, .user_registration {
  padding: 10px 20px;
  border: solid 1px blue;
  color: #000000;
  font-size: 20px;
  background-color:	#99CCFF;
  border-radius: 10px;
}

.user_nickname:hover, .user_registration:hover {
  background-color: #00FFFF;
  color: #FFFFFF;
}

.user_logout, .user_signin {
  margin: 30px;
  padding: 10px 20px;
  border: solid 1px blue;
  color: #000000;
  font-size: 20px;
  background-color:	#99CCFF;
  border-radius: 10px;
}

.user_logout:hover, .user_signin:hover {
  background-color: #00FFFF;
  color: #FFFFFF;
}

.main {
  height: 100%;
  min-height: 100%;
  height:auto !important;
  padding-bottom: 100px;
  background: linear-gradient(-100deg,#86F9C5, #CEF9DC) fixed;
  position:relative;
}

.how_to_use {
  position: absolute;
  left: 0px;
  top: 50px;
  border: 1px solid #C0C0C0;
  width: 20vw;
  margin-left: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.how_title {
  font-size: 25px;
  text-align: center;
  padding: 15px 0px 20px;
}

.how_1, .how_2, .how_3 {
  font-size: 20px;
  text-align: center;
  padding: 0px 5px 60px;
}

.post_contents {
  display:flex;
  min-height: 70vh;
  flex-direction: column;
  align-items: center;
}

.post_title {
  font-size:30px;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.search_form {
  padding-top: 5px;
}

.search_input {
  border-radius: 10px;
  border: 2px solid #C0C0C0;
  width: 15vw;
}

.search_btn {
  border: solid 1px blue;
  color: #000000;
  font-size: 20px;
  background-color:	#99CCFF;
  border-radius: 5px;
}

.search_btn:hover {
  background-color: #00FFFF;
  color: #FFFFFF;
}

.post_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.post_list {
  border: solid 1px black;
  padding: 1vw;
  margin: 2vh;
  width: 50vw;
  height: 25vh;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.post_name {
  font-size: 20px;
  text-align: center;
  color: black;
}

.post_content {
  font-size: 20px;
  text-align: left;
  color: black;
}

.create_room {
  width: 180px;
  background: #3ccace;
  text-align: center;
  border-radius: 10px;
  bottom: 40px;
  right: 40px;
  position: fixed;
  padding: 15px;
  z-index: 20;
}



