
/* ログイン、新規登録画面 */

p.user_title {
  font-size: 30px;
  color: #000000;
  text-align: center;
}

.form_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nickname_form {
  margin-top: 20px;
}

.email_form {
  margin-top: 50px;
}

.form_text {
  color: #000000;
  font-size: 20px;
}

.input_box {
  border-radius: 10px;
  border: solid 1px #000000;
  margin: 20px 20px;
  width: 400px;
  resize: none;
}

.submit_btn {
  display: flex;
  justify-content: center;
}

.user_btn {
  margin-top: 50px;
  border: solid 1px blue;
  color: #000000;
  font-size: 20px;
  background-color:	#99CCFF;
  border-radius: 5px;
  padding: 10px;
}

.user_btn:hover {
  background-color: #00FFFF;
  color: #FFFFFF;
}

.main_login {
  min-height: calc(100vh - 100px);
  padding-bottom: 50px;
  background: linear-gradient(-100deg,#86F9C5, #CEF9DC) fixed;
}

.login_errors {
  text-align: center;
}
/* ポスト作成画面 */

.post_registration {
  font-size: 30px;
  color: #000000;
  text-align: center;
}

.post_name_form {
  margin-top: 20px;
}

.create_post {
  height: calc(100vh - 100px);
  padding-bottom: 30px;
}

.create_btn {
  margin-top: 5px;
  border: solid 1px blue;
  color: #000000;
  font-size: 20px;
  background-color:	#99CCFF;
  border-radius: 5px;
  padding: 10px;
}

.create_btn:hover{
  background-color: #00FFFF;
  color: #FFFFFF;
}

.create_post_message {
  font-size: 20px;
  text-align: center;
  color: red;
}

/* ルーム作成*/
.creating_room {
  height: 500px;
}

.room_registration {
  font-size: 30px;
  color: red;
  text-align: center;
}

.room_submit_btn {
  text-align: center;
  padding-top: 20vh;
}


/* ユーザー情報変更 */



